@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-image: url('/static/img/khamkeo-vilaysing-Ef7C4bPDL4A-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.footer {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
    position: fixed;
    left: 0;
    bottom: 0;
}

nav {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
}

.text {
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.text1 {
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.published {
    font-size: 1.5rem;
}

.list {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin: 0px;
}
